<link th:href="@{/css/style.css}" rel="stylesheet">

<div th:include="test :: header"></div>

<main>
	<div class="form-inner">
		<form class=form th:object="${user}" action="#" method="post">
			
			<div class="text name">
		    	<label for="name">氏名</label>
		    	<input  class="input" type="text" th:field="*{name}" />		
			</div>
			<div class="text email">
			    <label for="email">メールアドレス</label>
			    <input class="input" type="email" th:field="*{email}" />
			</div>
			<div class="text tel">
				<label for="tel">電話番号</label>
				<input class="input" type="tel" th:field="*{tel}" />
			</div>
			<div class="radio">
				<label for="tel">お問い合わせ内容</label>
			    <input class="input" type="radio" th:each="contact : ${contacts}" th:text="${contact}"></label>
			</div>
		</form>
	</div>
	
</main>
<div th:include="test :: footer"></div>
            